[submodule "Cunik/Cunik-engine"]
	path = Cunik/Cunik-engine
	url = git@github.com:Cunik/Cunik-engine.git
[submodule "src/Cunik-engine"]
	path = src/Cunik-engine
	url = git@github.com:Cunik/Cunik-engine.git
[submodule "src/Cunik-cli"]
	path = src/Cunik-cli
	url = git@github.com:Cunik/Cunik-cli.git
